.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE
*:Zone.Identifier
# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps
input
input.txt
input.long
input.erl

# rebar 3
.rebar3
_build/
_checkouts/

# emacs
*~
\#*\#
*.tmp
tmp
*.pdf
*.jpg
*.mp4


__pycache__
*.DS_Store*
.DS_Store
